body {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

h5 {
    display: inline;
    font-size: 30px;
    padding: 0 40px 0 40px;
}

.container-fluid {
    padding: 0;
}

.navbar-brand {
    font-size: 35px;
}

.nav-item {
    font-size: 23px;
    padding-left: 15px;
    padding-right: 15px;
}

.contact-body-heading {
    margin: 40px 0 30px 0;
}

.contact-icon {
    padding: 10px 0 10px 0;
}

.about-text {
    font-family: 'Open Sans', sans-serif;
    padding: 20px 10px 20px 10px;
    text-align: left;
}

.about-text h1 {
    font-weight: bolder;
}

.about-main-body {
    padding: 14px 10px 14px 10px;
}