body {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

h4 {
    margin-top: 30px;
}

h5 {
    display: inline;
    font-size: 30px;
    padding: 0 40px 0 40px;
}

label {
    font-size: 23px;
    margin-right: 20px;
}

.survey-content {
    margin-left: 20px;
    text-align: left;
}

.login-input,
.register-input-left,
.register-input-right {
    border-color: #343f56;
    border-radius: 10px;
    height: 50px;
    margin: 10px 0 10px 0;
    width: 300px;
}

.register-input-left {
    margin-right: 20px;
    margin-bottom: 30px;
}

.register-input-right {
    margin-left: 20px;
    margin-bottom: 30px;
}

.navbar-brand {
    font-size: 35px;
}

.nav-item {
    font-size: 23px;
    padding-left: 15px;
    padding-right: 15px;
}

.contact-body-heading,
h1 {
    margin: 40px 0 30px 0;
}

.contact-icon {
    padding: 10px 0 10px 0;
}

.about-heading {
    font-family: 'Baloo Tammudu 2', cursive;
}

.login-heading,
.survey-heading {
    margin: 20px 0 20px 0;
}

.btn-login-register {
    border-radius: 16px;
    height: 50px;
    margin: 0 20px 0 20px;
    width: 170px;
}

.nav-text-size {
    font-size: 21px;
    margin-left: 15px;
    margin-right: 15px;
}

/* Styling for the Plans page*/
section.pricing {
    background: gray;
    background: linear-gradient(to right, #ffd8cc, #ffed99, #ffd8cc);
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}


/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
        opacity: 1;
    }
}

.plans-text {
    font-size: 20px;
}

/*Styling for the survey page*/
/* .list-group-horizontal .list-group-item {
    display: inline-block; 
}
   */
.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left:-4px;
    margin-right: 0;
}

.form-check label {
    padding:.75rem 1.25rem;
    margin-bottom:0;
}

.form-check label input[type="checkbox"] {
    opacity:0;
}

.btn-color {
    background-color: #687980;
    font-size: 20px;
    margin: 10px;
}

.survey1-input input {
    margin-left: 30px;
}